@font-face {
	font-family: "itc";
	src: url("./font/itc.otf");
}
@font-face {
	font-family: "tk";
	src: url("./font/tekton.otf");
}

:root {
	--logo: #c92027;
	--bg: #000;
	--txt: #fff;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "itc";
	background: var(--bg);
	color: var(--txt);
	width: 1280px;
	height: 720px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	flex-direction: column;
	box-sizing: border-box;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	background-image: url(stars.png);
	background-size: cover;
}

h1 {
	font-family: "helv";
	text-transform: uppercase;
	font-size: 120px;
	line-height: calc(120px * 1);
	color: var(--blue);
	letter-spacing: -0.03em;
}

h1 span {
	font-size: 0.3em;
	vertical-align: text-top;
	line-height: 35px;
}

h1 strong {
	color: var(--red);
	font-weight: inherit;
}

h2 {
	font-size: 70px;
	line-height: calc(70px * 1.1);
	margin-top: 30px;
}

h2 x-guys-word {
	text-transform: uppercase;
}

x-txt {
	text-transform: uppercase;
	margin: 0.5em -3em 0.25em;
	display: block;
	font-size: 2.5em;
	letter-spacing: 0.5em;
	word-spacing: 0.25em;
	line-height: 1;
	padding-left: 0.25em;
}

x-wars {
	display: block;
	width: 50%;
}
x-wars svg {
	width: 100%;
	display: block;
}
